Source: music-manager
Maintainer: Cedric Christen (Anime Fan) <cedric_christen@bluewin.ch>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.5

Package: python-music-manager
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},libavbin-dev
Description: Maintain and listen to your music
 =============
 Music Manager
 =============
 - Maintain your music in one programm and also listen to every song in different random play modes.
 .
 - More information in my git repository
 .
